{% from 'form_helper.html' import displayField %}
{% extends "prelogin-layout.html" %}

{% block title%} REGISTRATION {% endblock %}

{% block content %}
    <h1>GET STARTED</h1>

    <form action="{{ url_for('index') }}", method="POST">


        {{ displayField(form.username,'Username', autocomplete = "off", autofocus = true) }}
        {{ displayField(form.password,'Password') }}
        {{ displayField(form.confirm_passwd,'Retype Password!') }}

        <div>
            {{ form.submit_button}}
        </div>

        {{ form.csrf_token}}
        
    </form>
{% endblock %}
